{% extends "base_generic.html" %}
{% block subtitle %}add entity{% endblock %}
{% block content %}
<h1>Add new entity</h1>

<form method="POST" action="{% url 'addEntity' %}">
{% csrf_token %}

<label for="namefield">Name</label>
<input type="text" name="namefield" id="namefield" size="60" placeholder=""/>
<br>

<label for="sortfield">Sort key</label>
<input type="text" name="sortfield" id="sortfield" size="60" placeholder=""/>
<br>

<label for="categoryfield">Category</label>
<select name="categoryfield" id="categoryfield"> {% for k in categories %} <option value="{{ k.id }}">{{ k.name }}</option> {% endfor %} </select>
<br>

<label for="urlfield">URL</label>
<input type="text" name="urlfield" id="urlfield" size="60" placeholder=""/>
<br>

<label for="descriptionfield" style="vertical-align: top">Description</label>
<textarea name="descriptionfield" id="descriptionfield" cols="60">
</textarea>
<br>

<input type="submit" name="submit" value="Add">
</form>
{% endblock %}
